<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>uz.suyo.QuranApp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>holyquran</string>
			</array>
		</dict>
	</array>
	<key>CoreSpotlightActions</key>
	<array>
		<dict>
			<key>CoreSpotlightActionIdentifier</key>
			<string>CS_ACTION_2</string>
			<key>CoreSpotlightActionSymbolImage</key>
			<string>rectangle.and.pencil.and.ellipsis</string>
			<key>CoreSpotlightActionTitle</key>
			<string>Custom Action 2</string>
		</dict>
	</array>
	<key>CoreSpotlightContinuation</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchScreenBackground</string>
		<key>UIImageName</key>
		<string>logo</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
</dict>
</plist>
